<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9" targetFramework="net461" />
  <package id="ArduinoUploader" version="2.3.1" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net461" />
  <package id="IntelHexFormatReader" version="2.2.2" targetFramework="net461" />
  <package id="NLog" version="4.4.6" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.6" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.6" targetFramework="net461" />
  <package id="SerialPortStream" version="2.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
</packages>